@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* loading animation */
/* Loader Styles */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--second-bg-color);
    /* Màu nền của loader */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Đảm bảo loader nằm trên các phần tử khác */
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.spinner {
    width: 100px;
    /* Kích thước của spinner */
    height: 100px;
    /* Kích thước của spinner */
    animation: rotation 0.75s linear infinite;
}

.path {
    stroke-dasharray: 100;
    stroke-dashoffset: 20;
    stroke-linecap: round;
    stroke-width: 4;
    /* Độ dày của đường viền */
}

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}


/* loading animation end */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* common */
:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    --main-gradient: linear-gradient(to right, #00cc99 0%, #3399ff 100%);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}


body {
    background: var(--bg-color);
    color: var(--text-color);
}


section {
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}


.heading {
    text-align: center;
    font-size: 4.5rem;
}

p {
    text-align: justify;
}


.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    font-weight: 600;
    letter-spacing: .1rem;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.multiple-text {
    font-size: 3rem;
    color: #000;
    /* Màu sắc chính cho văn bản */
    white-space: nowrap;
}

.text-color-1 {
    color: var(--text-color);
}

.text-color-2 {
    color: #D50032;
}

.text-color-3 {
    color: #5151d3;
}

.text-color-4 {
    color: #37e937;
}


/* Sử dụng CSS Scroll Snap để đảm bảo các phần tử dính liền với nhau */
body {
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
}

/* header */
.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .1);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* header end */

/* home */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-diploma {
    background: var(--main-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    /* For Safari */
    color: transparent;
}

.quote {
    font-style: italic;
    font-size: 1.2em;
    color: var(--main-color);
    border-left: 4px solid var(--main-color);
    padding-left: 10px;
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 5px;
    /* Bo tròn các góc */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Đổ bóng nhẹ */
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3.multiple-text {
    min-width: 300px;
    /* Hoặc kích thước cố định bạn muốn */
    height: 40px;
    /* Tùy thuộc vào kích thước font bạn sử dụng */
    display: flex;
    align-items: center;
    /* Giữ căn chỉnh văn bản theo chiều dọc */
    overflow: hidden;
    /* Đảm bảo không có phần văn bản nào bị tràn ra ngoài */
}


.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    width: 80%;
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.home-img img {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 10rem var(--second-bg-color);
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    0% {
        transform: translateY(0);
    }
}


/* home end */

/* about */
.about {
    background-color: var(--second-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-img {
    width: 30vw;
    height: 40vw;
    overflow: hidden;
    /* Ẩn phần ảnh bị tràn ra ngoài phần tử chứa */
    border-radius: 5rem;
    border: 3px solid var(--main-color);
    transition: .5s ease;
    box-shadow: none;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease;
}

.about-img:hover {
    box-shadow: 0 0 2rem var(--main-color);

}

.about-img:hover img {
    transform: scale(1.1);
}

.about-content {
    margin-left: 4rem;
    width: 60vw;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}


/* about end */

/* skills */
.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skills h2 {
    margin-bottom: 5rem;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-box {
    flex: 1 1 calc(33.333% - 2rem);
    /* 3 items per row */
    background-color: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
    height: auto;
    /* Điều chỉnh chiều cao tự động */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.skills-box i {
    font-size: 10rem;
    margin-bottom: 1rem;
    color: var(--main-color);
}

.skills-box h3 {
    font-size: 2.6rem;
}

.skills-box ul {
    /* display: none; */
}

.skills-box ul li {
    text-align: start;
    font-size: 1.6rem;
    color: var(--text-color);
    /* margin: 1rem 0 3rem; */
}


/* copi */
.progress-bar {
    width: 100%;
    background-color: var(--text-color);
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 1rem;
}

.progress {
    height: 1rem;
    background: var(--main-gradient);
    border-radius: 1rem;
}

/* card */

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skills-box {
    /* perspective: 1000px; */
}

.card {
    width: 100%;
    height: 25rem;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

.card-front {}

.card-back {
    transform: rotateY(180deg);
}

.skills-box:hover .card {
    transform: rotateY(180deg);
}

/* card end */


/* skills end */

/* portfolio */
.portfolio {
    background-color: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

/* portfolio end */

/* contact */
.contact {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--second-bg-color);
    gap: 3rem;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}


.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/* contact info */
.contact-info {
    text-align: center;
}

.contact-info h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info ul li i {
    font-size: 2.5rem;
    color: var(--main-color);
    margin-right: 1rem;
}

.contact-info ul li span {
    font-weight: bold;
    margin-right: 0.5rem;
}

.contact-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/moutainbg.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: 1;
}


.contact-info {
    position: relative;
    height: 80%;
    width: 60rem;
    max-width: 70rem;
    border: 2px solid var(--main-color);
    padding: 4rem;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s ease;
}

.contact-info:hover {
    transform: scale(1.02);
    box-shadow: 0 0 2rem var(--main-color);
}

/* contact end  */

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/* footer end */


/* BREAK POINTS */


@media screen and (max-width: 1200px) {
    html {
        font-size: 55%;
    }


    .header {
        position: fixed;

    }

    .contact {
        flex-direction: column;
    }

    .contact-info {
        margin-bottom: 5rem;
        width: 90%;
    }

}

@media (max-width: 1024px) {
    .skills-box {
        flex: 1 1 calc(50% - 2rem);
        /* 2 items per row */
    }
}

@media screen and (max-width: 991px) {
    html {
        padding: 2rem 3%;
    }

    section {
        padding: 5rem 3% 2rem;
    }


    .skills {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media screen and (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    section {
        padding: 8rem 3% 5rem;
    }

    .navbar a {
        margin-left: 0rem;
        padding: 2rem 0;
    }


    .multiple-text {
        font-size: 2.8rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .02);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .02);
        display: none;

    }

    .navbar.active {
        display: block;
        text-align: center;
        background-color: var(--second-bg-color);
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        /* padding: 3rem 0; */
        /* padding: 0; */
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        height: 70vw;
        margin-top: 8rem;
        margin-bottom: 0rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-img {
        width: 60vw;
        height: 60vw;
        margin-top: 4em;
    }

    .about-content {
        margin-left: 0;
        text-align: center;
    }

    .about-content h2 {
        text-align: inherit;
    }

    .skills-box {
        flex: 1 1 100%;
        /* 1 item per row */
    }

    .skills h2 {
        margin: 5rem 0;
    }


    .portfolio h2 {
        margin-top: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 50%;
    }

    section {
        /* padding: 5rem 3% 5rem; */
    }


    .multiple-text {
        font-size: 2.4rem;
    }


    h1.my-name {
        font-size: 4rem;
    }

    .my-diploma {
        font-size: 2.2rem;
    }

    .contact-info {
        margin-top: 4rem;
    }

    .contact form .input-box input {
        width: 100%;
    }
}


@media screen and (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}


/* fix for my self */

.skills {
    /* display: none; */
}

.portfolio {
    display: none;
}